<%#
 June 2020    New page added
%>
<div class="cbox">
  <div class="cbox-title">
    Area Covered
  </div>
  <div class="cbox-data">

    <p>
      Prospective members are welcome from all over Hertfordshire and
      Bedfordshire. We have members in areas such as Aylesbury, Berkhamsted,
      Cheshunt and Potters Bar on the edges of the region as well in those in
      the more central districts of St Albans, Welwyn Garden City, Stevenage
      and Bedford. But don’t be put off if your area isn’t specifically
      mentioned here. We have members from all over Hertfordshire and
      Bedfordshire and events are held at venues all over the two counties.
    </p>
    <p>
      Many members frequently travel to events throughout
      Herts and Beds and all members are welcome to attend any event in the bulletin, not just 
      those held in their local area.
    </p>
  </div>
</div>