<div class="cbox">
  <div class="cbox-title">
    Bedford
  </div>
  <div class="cbox-data">
    New members from this area are very welcome. There are a number of existing members who live in
Bedford and surrounding area. Events are held in and around the Bedford area
throughout the month.
    <p>
    Check in the bulletin to see what's on this month.
    <p>

However, just because you live in the Bedford area doesn't mean that you can only go
		to Bedford events. Many members frequently travel to events throughout
		Herts and Beds and all members are welcome to attend any event in the bulletin, not just
those held in their local area.
</p>

  </div>
</div>