<%#
 June 2020    Modified to update information
%>

<div class="cbox">
  <div class="cbox-title">
    Events & Activities
  </div>
  <div class="cbox-data" align="left">

    The Club holds many events throughout each month, ranging from meals,
    pub nights, quizzes, cinema and theatre to days out and weekends away.
    However, just about anything that will be of interest to a few
    can be organised into an event. The club provides a framework for you to
    make friends and try new things in a relaxed and friendly atmosphere.
    Most activities cater for everyone from complete beginners to enthusiasts.
    <p>
    Events are organised by members themselves and placed on the online
    <A href = "calendar">Calendar</A>
    on this website. An online bulletin is sent to each member at the
    beginning of every month which details all the events on the calendar for
    the coming month. For that reason, most of the events for the next month will
    appear on the calendar towards the end of the current month.
    However short notice events are added to the calendar throughout the month.
    <p>
    Many of the events take place on a monthly, or otherwise regular basis.
    Examples of typical regular events are included below:
    <p>
    <table width="700px" align="center">
      <tr>
        <td valign=top width="350px">
          <ul>
            <li> Meals out
            <li> Cinema
            <li> Theatre trips
            <li> Local walks & lunch
            <li> Quizzes
            <li> Picnic in the Park
          </ul>
        </td>
        <td valign=top>
          <ul>
            <li> Mountain biking
            <li> Tennis
            <li> Meals in
            <li> BBQs
            <li> Stately Home & Garden visits
            <li> Christmas party
          </ul>
        </td>
      </tr>
    </table>

    Examples of events organised over past of years include:<br>

    <table width="700px" align="center">
      <tr>
        <td valign=top width="350px">
          <ul>
            <li> Weekends away in Dorset, Wales,<br>
                 Whitby
            <li> City breaks in Prague, Rome,<br>
                 Oxford, Portsmouth
            <li> Photography Event
            <li> Concerts
          </ul>
        </td>
        <td valign=top>
          <ul>
            <li> Canal Boat Trip
            <li> Walking/hiking days
            <li> Punting
            <li> Skiing
            <li> Camping weekends
            <li> Outdoor theatre
          </ul>
        </td>
      </tr>
    </table>

    <p>
    Most events are very affordable with costs limited to that of
    admissions/food/accommodation etc. (some admin costs apply to weekends,
    parties and some adventure activities).
    <p>
  </div>
</div>