<div class="cbox">
  <div class="cbox-title">
    Events & Activities
  </div>
  <div class="cbox-data" align="left">

    Events are organised by members and planned at a series of monthly
    club nights (usually held in pubs). All sorts of events are organised
    such as meals, pubs, cinema, sports, theatre, and
    weekends away to name a few. In fact, just about anything that will
    gather a crowd can be organised into an event and all upcoming events
    are published in a monthly bulletin which is distributed to all
    members.
    <p>
    IVC provides a framework for you to experience a range of pursuits,
    whether sporting or cultural. Most activities cater for everyone from
    complete beginners to enthusiasts.
    <p>
    Regular events include:<br>

    <table width="700px" align="center">
      <tr>
        <td valign=top width="350px">
          <ul>
            <li> Many outings to pubs!
            <li> Badminton
            <li> Theatre trips
            <li> Local walks
            <li> Quizzes
          </ul>
        </td>
        <td valign=top>
          <ul>
            <li> Mountain biking
            <li> Tennis
            <li> Meals out / meals in
            <li> BBQs
            <li> Christmas party
          </ul>
        </td>
      </tr>
    </table>

    Examples of events organised over the past couple of years include:<br>

    <table width="700px" align="center">
      <tr>
        <td valign=top width="350px">
          <ul>
            <li> Weekends away in Dorset, Wales,<br>
the Lake District
            <li> City breaks in Prague, Rome,<br>
                 Oxford, Portsmouth
            <li> Black-tie dinners
            <li> Canoeing
          </ul>
        </td>
        <td valign=top>
          <ul>
            <li> Murder Mystery weekend
            <li> Walking / hiking days
            <li> Punting
            <li> Skiing
            <li> Camping weekends
          </ul>
        </td>
      </tr>
    </table>

    <p>
    Many activities take place on a weekly, or otherwise regular, basis,
    enabling you to pursue a chosen sport or other hobby with other
    like-minded people.
    <p>
    Most events are very affordable with costs limited to that of
    admissions/food/accommodation etc. (some admin costs apply to weekends,
    parties and some adventure activities).
    <p>
    In addition to it's varied programme of activities, the club holds
    monthly club nights, usually in the first week of each month, in pubs
    across the various main regions of the Hertfordshire and Bedfordshire
    area.

  </div>
</div>