<div class="cbox">
  <div class="cbox-title">
    A Brief Introduction
  </div>
  <div class="cbox-data">
    Are you making the most of your spare time? Would you like to make new friends and try new
    things?
    <p>
    Herts &amp; Beds IVC is a club with
    over 80 members, dedicated to providing a wide range of social, leisure,
    sports and cultural events for its members. It is part of a national network
    of social events clubs.
    <p>
    As part of a network of nationwide IVC clubs, Herts & Beds IVC welcomes a wide range like-minded people who want to do active things in their leisure time. It is a non-profit making club run for the benefit of members. Events are run by members for members.
    <p>
    IVC is a "social" club rather than a "singles" club. Our members include some couples as well as singles. Typical members are usually in their 40's or 50's, with some younger, and some older. All from a variety of backgrounds. Age and background is not necessarily important. It's more a case of feeling comfortable with other people in the club and enjoying the sorts of things we do. The club holds many social, cultural and activity centred events such as meals, theatre, sports, walking, cycling, weekends away etc., with the emphasis on having fun and making friends. 
    <p>
    Typical events are generally small informal gatherings of around 6 - 10 people, so you really get the chance
    to make friends.
    <p>
    The club is always on the lookout for new members, so why not give us a try?
    To find out more about membership of Herts &amp; Beds IVC,
    please contact John, our Prospective Members' Officer on 07889 378809 (after 7pm weekdays or at the weekend) or via
    email to
    <a href="mailto:membership@hertsbedsivc.co.uk" >membership@hertsbedsivc.co.uk </a>.
	  <p>
	<center><font size="1">(When emailing, please let us know where you live.)</font></center></p>
  </div>
</div>