<div class="cbox">
  <div class="cbox-title">
    Membership
  </div>
  <div class="cbox-data" align="left">
    If you want to join Herts &amp; Beds IVC, your
    first step is to contact our Prospective Members Officer, who
    will be able to tell you about upcoming events in your area,
    and send you a bulletin and an application form.
    <p>
    As a prospective member you will receive 3 monthly bulletins free of charge.
    During this period, you are welcome to attend any of the events. This gives
    you the chance to see if you like the club and the things they do, and also
    provides the club with the opportunity to see if you fit in with them.
    Once you have attended 3 events you are welcome to apply for full membership.
    This is usually just a formality.
    <p>
    Single membership costs &pound;14 a year. Joint membership, for couples, costs &pound;24 a year.
    Membership fees go solely towards covering our costs.
    <p>
    Herts &amp; Beds IVC is, logically enough, for
    people living in Hertfordshire or Bedfordshire. We also have
    members living in the neighbouring parts of Buckinghamshire,
    Middlesex, London, Essex, Cambridgeshire and Northamptonshire.
    <p>
    For people living near the borders of two IVCs, dual membership
    can be a good idea. For example, members living near the

    Hertfordshire/Essex border may find it worthwhile to be members
    of both Herts &amp; Beds IVC and Essex IVC.
    <p>
    If you live somewhere else but work in our area, you would be
    welcome to join.
  </div>
</div>