<div class="cbox">
  <div class="cbox-title">
    Mid Hertfordshire
  </div>
  <div class="cbox-data">
    New members from this area are very welcome. There are a number of existing members who live in
Hertford, Ware, Welwyn Garden City and surrounding area. Events are held in and around the Mid and East Herts area
throughout the month.
    <p>

    Mid Hertfordshire's club night is held every month in various pubs in the Hertford, Ware and Welwyn Garden City area.
    <p>
    Recent venues have included The Crooked Chimney at Lemsford, The Salisbury Arms in Hertford and The Saracens Head, Ware.
    <p>
    Check in the bulletin for the venue of this month's club night.
    <p>

However, just because you live in Mid Herts doesn't mean that you can only go
		to Mid Herts events. Many members frequently travel to events throughout
		Herts and Beds and all members are welcome to attend any event in the bulletin, not just
those held in their local area.
</p>

  </div>
</div>