<div class="cbox">
  <div class="cbox-title">
    North Hertfordshire
  </div>
  <div class="cbox-data">
    New members from this area are very welcome. There are a number of existing members who live in
    the Stevenage, Hitchin and Letchworth areas and events are held in North Hertfordshire
    throughout the month.
    <p>Events are planned at North Herts club night which is usually held during the first or second week of the month at
    The Three Moorhens in Hitchin.
    </p>
    For those who are unfamiliar with Hitchin or the location of The Three Moorhens, it can be
    found here:
    <p>
    The Three Moorhens <br>
    Hitchin Hill <br>
    Hitchin <br>
    SG4 9AJ
    <p>
    <a href="http://maps.google.co.uk/maps?ie=UTF8&q=three+moorhens+hitchin&fb=1&gl=uk&hq=three+moorhens&hnear=hitchin&hl=en&view=map&cid=7124536450130259108&iwloc=A&ved=0CBkQpQY&sa=X&ei=7VI3S_W9MsSQjAeamJSECQ">
    Click here for a location map and directions </a>
    <p>
    Or, if you have trouble with the above link, please try this one...
    <a href="http://www.multimap.com/maps/?qs=sg4+9aj&countryCode=GB"> multimap.com </a>
    <p>
    Check the bulletin for the date of this month's club night.
    <p>
    However, just because you live in North Herts doesn't mean that you can only go
                to North Herts events. Many members frequently travel to events throughout
                Herts and Beds and all members are welcome to attend any event in the bulletin, not just
    those held in their local area.
    </p>
  </div>
</div>