<div class="cbox">
  <div class="cbox-title">
    Other Areas
  </div>
  <div class="cbox-data">

Don't be put off if your area isn't specifically mentioned. We welcome  
prospective members from all over Hertfordshire and Bedfordshire.
      For instance the club has members in areas such as Aylesbury, Cheshunt, Potters Bar
and Watford and events are held regularly in these areas.</p>
    <p> Many members frequently travel to events throughout
Herts and Beds and all members are welcome to attend any event in the bulletin, not just 
those held in their local area.
  </div>
</div>