<div class="cbox">
  <div class="cbox-title">
    South Bedfordshire
  </div>
  <div class="cbox-data">
    New members from this area are very welcome. There are a number of existing members who live in
	Luton, Dunstable and surrounding area. Events are held in and around the South Bedford area
	throughout the month.
    <p>

    South Bedfordshire's club night is held on the first Friday of every month (except on Bank Holidays) in the Chequers Pub at Streatley, 4 miles north of Luton near the A6
<br>
<br>
    For those who are unfamiliar with Streatley or the location of the Chequers Pub, it can be found here:
    <p>
    The Chequers Pub <br>
    Sharpenhoe Road <br>
    Streatley <br>
	Beds<br>
    LU3 3PR
    <p>
    <a href="http://maps.google.com/maps?f=q&hl=en&sll=51.967327,-0.445633&sspn=0.092013,0.22625&q=pub,+LU3+3PR,+uk&cid=51946601,-445540,9725843556974735170&li=lmd&z=14&t=m"> Click here for a location map and directions</a>
    <p>
    Or, if you have trouble with the above link, please try this one...
    <a href="http://www.multimap.com/map/browse.cgi?client=public&X=507000&Y=228500&width=700&height=400&gride=506937&gridn=228713&srec=0&coordsys=gb&db=pc&addr1=&addr2=&addr3=&pc=LU33PR&advanced=&local=&localinfosel=&kw=&inmap=&table=&ovtype=&keepicon=true&zm=1&scale=25000"> multimap.com </a>
    <p>

	However, just because you live in the South Bedfordshire area doesn't mean that you can only go
				to South Bedfordshire events. Many members frequently travel to events throughout
				Herts and Beds and all members are welcome to attend any event in the bulletin, not just
	those held in their local area.
	</p>

  </div>
</div>