<div class="cbox">
  <div class="cbox-title">
    St. Albans
  </div>
  <div class="cbox-data">
    New members from this area are very welcome. There are a number of existing members who live in
	and around St. Albans and events are held in and around the St. Albans area
	throughout the month.
    <p>
    St. Albans club night is held on the second Wednesday of every month in The Chequers Inn, Redbourn.
    <p>
    For those who are unfamiliar with St. Albans or the location of The Chequers Inn, it can be
    found here:
    <p>
    The Chequers Inn <br>
    St. Albans Road <br>
    Redbourn <br>
    St. Albans <br>
    AL3 7AD
    <p>
    <a href="http://maps.google.com/maps?q=the+chequers+inn,+AL3+7AD,+uk&amp;spn=0.017374,0.034083&amp;num=1&amp;start=0&amp;hl=en"> Click here for a location map and directions </a>
    <p>
    Or, if you have trouble with the above link, please try this one...
    <a href="http://www.multimap.com/map/browse.cgi?lat=51.7934&amp;lon=-0.3915&amp;scale=25000&amp;icon=x&amp;mapsize=big"> multimap.com </a>
	<p>
	However, just because you live in St. Albans doesn't mean that you can only go
				to St. Albans events. Many members frequently travel to events throughout
				Herts and Beds and all members are welcome to attend any event in the bulletin, not just
	those held in their local area.
	</p>

  </div>
</div>