<div class="cbox">
  <div class="cbox-title">
    West Hertfordshire
  </div>
  <div class="cbox-data">
    New members from this area are very welcome. There are a number of existing members who live in
	Berkhamstead, Hemel Hempstead and surrounding area. Events are held in and around the West Herts area
	throughout the month.
    <p>
    West Hertfordshire's club night is held once a month, usually on a Thursday at The White Horse, Bourne End.
    Check the events bulletin for the time and date.
    <p>
    For those who are unfamiliar with the location of The White Horse, it can be
    found here:
    <p>
    The White Horse <br>
    London Road <br>
    Bourne End <br>
    Hemel Hempstead <br>
    HP1 2RH
    <p>
    <a href="http://maps.google.com/maps?q=+HP1+2RH,+uk&amp;spn=0.017388,0.034083&amp;num=1&amp;start=0&amp;hl=en"> Click here for a location map and directions </a>
    <p>
    Or, if you have trouble with the above link, please try this one...
    <a href="http://www.multimap.com/map/browse.cgi?client=public&X=502000.576070517&Y=206000.941214616&width=700&height=400&gride=&gridn=&srec=0&coordsys=gb&db=&addr1=&addr2=&addr3=&pc=&advanced=&local=&localinfosel=&kw=&inmap=&table=&ovtype=&keepicon=&zm=0&scale=25000&multimap.x=371&multimap.y=156"> multimap.com </a>
    <p>

	However, just because you live in West Herts doesn't mean that you can only go
				to West Herts events. Many members frequently travel to events throughout
				Herts and Beds and all members are welcome to attend any event in the bulletin, not just
	those held in their local area.
	</p>

  </div>
</div>