<div class="page-header">
 <h3>Edit Event</h3>
</div>

<%= bootstrap_form_for @event, url: admin_event_path do |f| %>
  <%= render partial: 'helpers/event_fields', locals: { f: f } %>
  <br />
  <%= f.submit "Update" , { class: 'btn' } %>
<% end %>