<div class="page-header">
  <h3>Event Details</h3>
</div>

<%= render partial: 'helpers/event_details' %>

<hr/>
<h3>Attendees</h3>
<br/>
<p>Count: <%= @event.attendees.count %></p>
<br/>
<% @event.attendees.each do |user| %>
<div class="row">
  <div class="col-sm-12"><%= user.full_name %> <%= link_to "Remove", admin_event_leave_path(@event, user_id: user.id), data: { confirm: "Remove #{user.full_name}?" } %></div>
</div>
<% end %>