<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @user.full_name %></h3>
    <p>
      You have successfully unsubscribed from the event: <%= @event.title %> on <%= @event.start_date_humanized %>.
      <br />
    </p>
  </body>
</html>