<%
   @title = "My Events"
   @title_link = my_account_events_path
%>

<div class="table-responsive">
<table class="table table-bordered table-striped">
 <thead>
  <th>Title</th>
  <th>Start Date</th>
  <th></th>
 </thead>
<% @events.each do |event| %>
 <tr>
  <td><%= event.title %></td>
  <td><%= event.start_date.to_formatted_s(:long) %></td>
  <td><%= link_to "View", event_path(event) %></td>
 </tr>
<% end %>
</table>
</div>

<%= will_paginate @events, renderer: BootstrapPagination::Rails %>