/* Organiser display */

.organiser-details div {
  padding-left: 0px;
}

/* Calendar event styling */

.featured-event div span {
  font-weight: bold;
  font-size: 14px;
}

.standard-event div span {
  font-size: 12px;
}

.fc-day-grid-event .fc-content {
  white-space: normal;
}

/* Event attendees */

.attendee div {
  padding-bottom: 5px;
}

/* Event */

.repeat-dropdown {
  padding-left: 0px;
  padding-top: 20px;
  display: none;
}

.repeat-dropdown .row { 
  margin-top:20px;
}