/* Organiser display */

.organiser-details div {
  padding-left: 0px;
}

/* Calendar event styling */

.featured-event div span {
  font-weight: bold;
  font-size: 12px;
}

.standard-event div span {
  font-size: 10px;
}