     </td>
    </tr>
  </table>
</div>
</div>
</div>

  <div align="center" >
    <div class="wrapper-foot">
      <div id="footer">
        <table width="1000px" align=center>
          <tr>
            <td align=left valign=center>
              <font size=-2> Last updated: June 2020 </font>
            </td>
            <td align=right valign=center>
              <font size=-2> Copyright &copy; 2020, Herts &amp; Beds IVC </font>
            </td>
          </tr>
        </table>
      </div> <%# footer %>
    </div> <%# wrapper-foot %>
  </div> <%# align %>
</body>
</html>
