<%#
 June 2020    Modified to apply indentration
%>

<%= render 'layouts/header' %>

            <td valign=top width="790px">
             <%= yield %>
            </td>
          </tr>
      </table>
    </div>  <%# main from _header.html.erb %>
  </div>  <%# wrapper from _header.html.erb %>
</div>  <%# align from _header.html.erb %>

<%= render 'layouts/footer' %>